[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

.vs/
.vscode/

applicationhost.config

.idea/
copilot-chat/
CopilotIndices/
DesignTimeBuild/
FileContentIndex/

*.bak
*.Backup
*.log
*.dbmdl
*.mdf
*.ldf
*.pdb

Migrations/

publish/
out/
artifacts/

.env
.env.*

project.lock.json
project.fragment.lock.json
artifacts/
appsettings.Development.json
secrets.json


.DS_Store
Thumbs.db


[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*


_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user